.uploader-and-processer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.button-upload,
.button-process {
    border-radius: 5px;
    height: 40px;
    background-color: rgb(245, 245, 222);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-process {
    margin-left: 15px;
}

.upload-file-name {
    margin-left: 10px;
    font-size: 16px;
}