.voice-input-container {
    display: flex;
    margin: 10px 0px;
}

.listen-action,
.reset-action {
    margin: 0px 10px;
    font-size: 16px;
}

.process-action {
    margin-left: 0px;
    font-size: 16px;
}

.listen-action,
.process-action,
.reset-action {
    border-radius: 5px;
    height: 40px;
    background-color: rgb(245, 245, 222);
    border: none;
    cursor: pointer;
}