.uploader-and-processer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.file-upload {
    margin-bottom: 15px;
}

.button-upload,
.button-process {
    border-radius: 5px;
    height: 40px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
}

.upload-file-name {
    margin-left: 10px;
    font-size: 16px;
}