.instruction-page {
    height: 100vh;
}

.instruction-section-heading,
.features-section-heading {
    margin-top: 40px;
    margin-bottom: 20px;
}

.instructions-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.upload-instruction,
.summarise-instruction,
.output-instruction {
    background-color: rgb(245, 245, 222);
    border-radius: 10px;
    margin: 0px 5px;
    color: black;
    font-size: 20px;
    align-items: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 16px;
    text-align: center;
}

.summarise-instruction {
    display: flex;
    flex-direction: column;
}

.get-started {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.link-button {
    background-color: rgb(245, 245, 222);
    padding: 10px 5px;
    border-radius: 5px;
    align-items: center;
}

.features-list {
    display: flex;
    flex-direction: column;
}

.feature-name {
    color: white
}

.feature-title {
    font-weight: bold;
}