.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(240, 240, 240, 0.7);
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.search-bar-container.up {
    transform: translateY(-100%);
}

.search-input {
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: 300px;
    margin-right: 10px;
}

.search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: navy;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}