.voiceContainer{
    width: 500px;
  }
  .search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-block;
  }
  .input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    padding-right: 40px;
    color: #000000;
    transition: width 0.5s ease-in-out; /* Add transition for width property */
  }
  .input-search::placeholder{
    color:rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-image: url("https://police.un.org/sites/default/files/radio-microphone.png");
    background-color: transparent;
    background-size: cover;
    pointer-events: painted;
    transition: right 0.5s ease-in-out; /* Add transition for right property */
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgb(255, 255, 255);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgb(255, 255, 255);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .button-reset{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
  }
  